{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'BulletIn/stylesheets/bgstyle.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>İHK SİSTEMİ</title>

    
</head>
<body>
    <div style="width: 100%;">
    <nav class="navbar navbar-expand-lg bg-white navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li style="padding-left: 100px; padding-right: 100px;">
                <div class="container">
                <a class="navbar-brand" href="{%url 'BulletIn:showBulletin'%}">
                <img src="{%static 'BulletIn/images/tfflogo.png'%}" alt="TFF" width="36" height="44">
                </a>
                </div>
            </li>
            <li class="nav-item" style="padding-left: 20px; padding-right: 20px;">
                <a class="nav-link d-inline-flex align-items-center gap-2" href="{%url 'BulletIn:showBulletin'%}">
                    <img src="{% static 'BulletIn/images/anasayfa.png' %}" class="nav-icon" alt="Ana Sayfa" width="20">
                    <span>Ana Sayfa</span>
                </a>
            </li>
            <li class="nav-item" style="padding-left: 20px; padding-right: 20px;">
                <a class="nav-link d-inline-flex align-items-center gap-2" href="{%url 'BulletIn:showBulletin'%}">
                    <img src="{% static 'BulletIn/images/bulten.png' %}" class="nav-icon" alt="Bulten" width="20">
                    <span>Bülten</span>
                </a>
            </li>
            <li class="nav-item" style="padding-left: 20px; padding-right: 20px;">
                <a class="nav-link d-inline-flex align-items-center gap-2" href="{% url 'persons:kisi_arama' %}">
                    <img src="{% static 'BulletIn/images/kisiarama.png' %}" class="nav-icon" alt="Arama" width="20">
                    <span>Kişi Arama</span>
                </a>
            </li>
            <li class="nav-item" style="padding-left: 20px; padding-right: 20px;">
                <a class="nav-link d-inline-flex align-items-center gap-2" href="{%url 'persons:bilgilerim'%}">
                    <img src="{% static 'BulletIn/images/kisi.png' %}" class="nav-icon" alt="Bilgilerim" width="20">
                    <span>Bilgilerim</span>
                </a>
            </li style="padding-left: 20px; padding-right: 20px;">
            <li class="nav-item">
                <a class="nav-link d-inline-flex align-items-center gap-2" href="{% url 'BulletIn:maclarim' %}">
                    <img src="{% static 'BulletIn/images/maclarim.png' %}" class="nav-icon" alt="Maclarim" width="20">
                    <span>Maçlarım</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown" style="padding-right: 85px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if request.user.is_authenticated %}
                    {% if request.user.hakem %}
                        {{ request.user.hakem.ad_soyad }}
                    {% elif request.user.gozlemci %}
                        {{ request.user.gozlemci.ad_soyad }}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                {% endif %}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{%url 'password_change'%}">Parola Değiştir</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item" style="color: red;">Çıkış Yap</button> 
                    </form>
                </li>
            </ul>
        </ul>
        </div>
    </div>
    </nav>
    </div>
    {%block content%}
    {%endblock%}

</body>
</html>